body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    font-family: var(--vscode-font-family);
}